@use '~/public/styles/_mixins.scss' as mixins;

.e-schedule-toolbar {
    // Theme contract
    --schedule-toolbar-local-gap: var(--e-schedule-toolbar-gap);
    --schedule-toolbar-local-radius: var(--e-schedule-border-radius);
    --schedule-toolbar-local-select-view-max-width: 20rem;
    --e-field-label: var(--e-bar-color);
    --bar-content-direction: column-reverse;
    --bar-content-alignment: unset;

    height: auto;
    margin-bottom: 0;
    border-top-left-radius: var(--schedule-toolbar-local-radius);
    border-top-right-radius: var(--schedule-toolbar-local-radius);

    // Layout
    .e-bar__content {
        gap: var(--schedule-toolbar-local-gap);
        flex-direction: var(--bar-content-direction);
        align-items: var(--bar-content-alignment);
    }


    &__controls {
        gap: var(--schedule-toolbar-local-gap);
    }

    &__pager {
        align-items: center;
        display: flex;

        &-label {
            margin-inline: var(--schedule-toolbar-local-gap);
        }
    }

    @include mixins.from_md {
        --bar-content-direction: row;
        --bar-content-alignment: center;
        --e-field-max-width: var(--schedule-toolbar-local-select-view-max-width);
    }

}