.e-menu-container {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  font-family: var(--e-typography-family-base, var(--e-root-font-family, inherit));
  font-size: var(--e-typography-body-font-size-md, 0.875rem);
  line-height: var(--e-typography-body-line-height-md, 1.25rem);

  &__wrapper {
    border-radius: var(--e-border-radius-root, 4px);
    overflow: hidden;
    background-color: var(--e-color-surface-1, #ffffff);
    color: var(--e-menu-color, var(--e-contrast-surface-1, #000000));
    transition-duration: 300ms;
    position: relative;
  }
}

.e-menu {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;

  &__content {
    position: absolute;
    display: inline-block;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    contain: content;
    max-height: 304px;
    min-width: 100%;
    transform-origin: left top;
  }
}
