@use '~/public/styles/_mixins.scss' as mixins;

.e-row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;

	@include mixins.grid-gap-responsive;
	--local-grid-gap: var(--e-grid-gap, 16px);

	gap: var(--local-grid-gap, 16px);

	&--dense {
		--local-grid-gap: calc(var(--e-grid-gap, 16px) * 0.75);
	}

	&--auto {
		>.e-col:not([class*="e-col-"]) {
			flex: 0 0 auto;
			width: auto;
			max-width: none;
		}
	}

	&--equal {
		>.e-col {
			flex: 1 1 0;
			max-width: none;
		}
	}

	&--no-gutters {
		--local-grid-gap: 0;
	}
}

@include mixins.generate-grid-classes;