.e-drawer {
  --drawer-local-bg: var(--e-drawer-bg, var(--e-color-surface-1, #ffffff));
  --drawer-local-color: var(--e-drawer-color, var(--e-contrast-surface-1, #000000));
  --drawer-local-border-color: var(--e-drawer-border-color, var(--e-color-border, rgba(0, 0, 0, 0.12)));
  --drawer-local-border-width: var(--e-drawer-border-width, 1px);
  --drawer-local-transition-duration: var(--e-drawer-transition-duration, 0.2s);
  --drawer-local-transition-timing-function: var(--e-drawer-transition-timing-function, cubic-bezier(0.4, 0, 0.2, 1));
  --drawer-local-floating-bg: var(--e-drawer-floating-bg, var(--e-color-surface-2, #ffffff));
  --drawer-local-floating-margin: var(--e-drawer-floating-margin, 12px);
  --drawer-local-floating-radius: var(--e-drawer-floating-radius, var(--e-border-radius-root, 0.95rem));

  height: 100%;
  left: 0;
  max-width: 100%;
  background-color: var(--drawer-local-bg);
  color: var(--drawer-local-color);
  font-family: var(--e-typography-family-base, var(--e-root-font-family, inherit));
  font-size: var(--e-typography-body-font-size-md, 0.875rem);
  line-height: var(--e-typography-body-line-height-md, 1.25rem);
  overflow: hidden;
  pointer-events: auto;
  top: 0;
  transition-duration: var(--drawer-local-transition-duration);
  transition-timing-function: var(--drawer-local-transition-timing-function);
  transition-property: transform, visibility, width;
  position: fixed;
  z-index: 11;
  
  &__body {
    flex: 0 1 auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &--close {
    visibility: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--drawer-local-bg);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__prepend,
  &__append {
    flex: none;
    overflow: hidden;
  }

  &--absolute {
    position: absolute;
  }

  &--fixed {
    position: fixed;
  }

  &--right {
    left: auto;
    right: 0;

    .e-drawer__border {
      left: 0;
      right: auto;
      top: 0;
    }
  }

  &__border {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-left: var(--drawer-local-border-width) solid var(--drawer-local-border-color);
  }

  &--floating {
    .e-drawer {
      &__content {
        background-color: var(--drawer-local-floating-bg);
        border-radius: var(--drawer-local-floating-radius);
        height: calc(100% - (var(--drawer-local-floating-margin) * 2));
        margin: var(--drawer-local-floating-margin);
      }

      &__border {
        display: none;
      }
    }
  }

  &--transparent {
    --drawer-local-bg: transparent;
    --drawer-local-floating-bg: transparent;
    --drawer-local-border-width: 0;
  }
}
