$e-bar-vertical-padding: 0px !default;
$e-bar-inline-padding: 16px !default;
$e-bar-height: 64px !default;
$e-bar-height-dense: 48px !default;
$e-bar-inline-gap: calc(var(--e-space-base, 4px) * 4) !default;