@use "../foundation/globals" as globals;

$drawer-bg: var(--e-color-surface-1) !default;
$drawer-color: var(--e-contrast-surface-1) !default;
$drawer-border-color: var(--e-color-border) !default;
$drawer-border-width: 1px !default;

$drawer-transition-duration: 0.2s !default;
$drawer-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;

$drawer-floating-bg: var(--e-color-surface-2) !default;
$drawer-floating-margin: 12px !default;
$drawer-floating-radius: var(--e-border-radius-root, #{globals.$border-radius-root}) !default;