@use "../foundation/globals" as globals;

$expansion-header-height: 3rem !default;
$expansion-header-height-opened: $expansion-header-height * 1.3 !default;
$expansion-header-font-size: 0.875rem !default;
$expansion-panel-gap: globals.$space-base * 2 !default;
$expansion-panel-border-width: globals.$border-width !default;
$expansion-panel-border-radius: var(--e-border-radius-root, #{globals.$border-radius-root}) !default;
$expansion-panel-button-background-color: var(--e-color-surface-base) !default;
$expansion-panel-background-color: var(--e-color-surface-base) !default;
$expansion-panel-button-color: var(--e-contrast-surface-base) !default;
$expansion-panel-color: var(--e-contrast-surface-base) !default;
