.e-card {
  border-radius: var(--e-border-radius-root, 4px);
  --card-bg: var(--e-color-surface-base, var(--e-color-surface-1, #ffffff));
  --card-text: var(--e-contrast-surface-base, var(--e-contrast-surface-1, #000000));
  --card-border-color: var(--e-color-border);
  --card-padding: calc(var(--e-space-base, 4px) * 4);
  --card-gap: calc(var(--e-space-base, 4px) * 3);

  background-color: var(--card-bg);
  color: var(--card-text);
  display: flex;
  flex-direction: column;
  position: relative;

  &--outlined {
    border: thin solid var(--card-border-color);
  }

  &--depressed {
    box-shadow: none;
  }

  &__main {
    display: flex;
    gap: var(--card-gap);
    flex-direction: column;
    padding: var(--card-padding);
    flex: 1;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    gap: calc(var(--e-space-base, 4px) * 3);
  }

  &__prepend {
    display: inline-flex;
    align-self: center;
  }

  &__append {
    display: inline-flex;
    align-self: center;
    margin-inline-start: auto;
  }

  &__headline {
    display: grid;
    gap: var(--e-space-base, 4px);
    min-width: 0;
    flex: 1;
  }

  &__title,
  &__subtitle,
  &__description {
    margin: 0;
  }

  &__subtitle {
    opacity: 0.8;
  }

  &__description {
    opacity: 0.9;
  }

  &__footer {
    flex: 1;
    padding: var(--card-padding);
  }
}