@use '~/public/styles/_mixins.scss' as *;

.e-radio {
  display: flex;

  &__label {
    --field-label-top-y: 0;
    --label-align-self: center;
  }
}

.e-radio-group-field {
  --group-flex-direction: column;
  --frame-flex-direction: row;
  --field-slot-content-height: var(--control-size);
  --field-slot-bottom-y: var(--field-slot-bottom-rest-y);

  &--row {
    --group-flex-direction: row;
  }

  &--column {
    --frame-flex-direction: column;
  }

  &__group {
    flex-direction: var(--group-flex-direction);
    display: flex;
  }
  .e-field__frame{
    flex-direction: var(--frame-flex-direction);
    overflow: hidden;
  }

}